@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}

html {
  scroll-behavior: smooth;
}

.smooth-transition {
  transition: all 0.1s ease-in-out 0s;
}
